In [10]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 3, "styler.format.decimal", ",")

In [6]:
patNumbers = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
fixedPointsPath = "input_files\\pacient_09\\registration\\pacient09IntraopPointsAP.csv"
movingPointsPath = "input_files\\pacient_09\\registration\\pacient09PreopPointsAP.csv"
fixedPointsTable = []
movingPointsTable = []
with open(fixedPointsPath, "r") as file:
    [fixedPointsTable.append(row.split(",")[1:4]) for row in file.readlines()[1:]]
    
with open(movingPointsPath, "r") as file:
    [movingPointsTable.append(row.split(",")[1:4]) for row in file.readlines()[1:]]

fixedPointsList = np.array([[float(value) for value in values] for values in fixedPointsTable])
movingPointsList = np.array([[float(value) for value in values] for values in movingPointsTable])

In [36]:
intraopPointsDf = pd.DataFrame(fixedPointsList[:, 0:2].T, columns=pd.Index(np.arange(1, 10 + 1), name="Číslo bodu"),
                               index=pd.Index(["X-ový směr", "Y-ový směr"]))
intraopPointsDf

Číslo bodu,1,2,3,4,5,6,7,8,9,10
X-ový směr,157.395,815.849,482.143,500.060,384.718,608.683,229.063,752.020,175.312,794.573
Y-ový směr,692.669,662.434,790.094,788.974,506.779,496.700,640.038,631.079,571.728,571.728

In [43]:
print(intraopPointsDf.style.to_latex(column_format="%.3f"))

\begin{tabular}{%.3f}
Číslo bodu & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 \\
X-ový směr & 157,395000 & 815,849000 & 482,143000 & 500,060000 & 384,718000 & 608,683000 & 229,063000 & 752,020000 & 175,312000 & 794,573000 \\
Y-ový směr & 692,669000 & 662,434000 & 790,094000 & 788,974000 & 506,779000 & 496,700000 & 640,038000 & 631,079000 & 571,728000 & 571,728000 \\
\end{tabular}